<div class="container">
    <h1>Blog Home</h1>
    <p>Here are the latest blog posts</p>
    <div class="row">
        {{#each blogs}}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{{thumbnail}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title   ">{{title}}</h5>
                    <p class="card-text">{{content}}</p>
                    <a href="/blogpost/{{slug}}" class="btn btn-primary">Read</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>